NEXT_PUBLIC_URL=

NEXT_PUBLIC_CA=tydvPhKqpNFNqkx78LNocANNtVyJs7ba3czkcoWB3RJ

NEXT_PUBLIC_PROJECT_ADDRESS=3nm2ogijjiaSKPWCyTj4aNvEniJu5a34TZiZ43AEEGpX
NEXT_PUBLIC_PROJECT_ID = 4d8912323eff9afe722722772e298667
NEXT_PUBLIC_SOLANA_RPC=https://devnet.helius-rpc.com/?api-key=665b8628-d661-4d36-b92e-f0af7c73fd95