@tailwind base;
@tailwind components;
@tailwind utilities;

*,
:after,
:before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --black: #0e0a09;
  --green: #00a52c;
  --yellow: #fcc019;
  --grey: #adadad;
  --white: #fff;
  --lemon: #fcff6d;
  --dark-text: #144049;
  --transition: 0.5s;
  --max-width: 1078px;
}

body {
  background: var(--white);
  overflow-x: hidden;
}
